* { box-sizing: border-box;
     margin:0;}
     
header {text-align: center;}


header li {display: inline-block;
width:4%;
padding: 4px;
margin-right: 40px;
vertical-align: middle}


#logo { width: 11%;}


#logo img { width:66.84px;
height: 79.38px; ;}


#sec01 { height: 78vh;
    background-image: url(header-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position:center;
}


#HOME  {color: goldenrod;
text-decoration: none;}


li a {color: black;
text-decoration: none;}


li a:hover{
     color: goldenrod;
transition: 0.4s ease;
}

#titulo {
    font-family: 'Cinzel', serif;
    
    font-size: 60px;
    
letter-spacing: 0.2em;
text-align: center;
    color: #FFFFFF;
    display: flex;           
    justify-content: center; 
    align-items: center;     
    height: 70vh;   
}

#subtitulo {
  font-family: Arial, sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  border-top:#FFFFFF solid 1px;
width: 26%;
margin: auto;
padding: 20px;
  letter-spacing: 0.15em;
  margin-top: -215px;
text-align: center;
}
